<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140235883023-og5fenovcmkgtpjfivsnnf3usphqalar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140235883023-og5fenovcmkgtpjfivsnnf3usphqalar</string>
	<key>API_KEY</key>
	<string>AIzaSyCFU2Eh_cj536mH4rmgon1TlHHaxwOlGe4</string>
	<key>GCM_SENDER_ID</key>
	<string>140235883023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authCar</string>
	<key>PROJECT_ID</key>
	<string>authcar-3212f</string>
	<key>STORAGE_BUCKET</key>
	<string>authcar-3212f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140235883023:ios:5e067a8c7bbd99c84a997a</string>
</dict>
</plist>